<p style="color: green"><%= notice %></p>

<h1>Recipes</h1>

<div id="recipes">
  <% @recipes.each do |recipe| %>
    <%#= render recipe %>
    <div>
      <div>
        <div>
          <h5><%= recipe.name %></h5>
        </div>
        <div>
          <h5>details</h5>
          <h5>remove</h5>
        </div>
      </div>
      <div>
        <p><%= recipe.description %></p>
      </div>
    </div>
  <% end %>
</div>

<%= link_to "New recipe", new_recipe_path %>
