<div class="container mw-auto">
  <h1 class="fade-in text-center mt-5">Welcome to Recipe App</h1>
  <div class="d-flex justify-content-center">
    <%=image_tag "breakfast.jpg"%>
    <%=image_tag "hamburger.jpg"%>
  </div>
</div>

