<tr>
  <td><%= food.name %></td>
  <td><%= food.measurement_unit %></td>
  <td><%= food.price %></td>
  <td class="del_btn">
   
       <%= button_to "Delete", @food, method: :delete, class: 'btn btn-danger' %>
      <span>No actions</span>
  </td>
</tr>