<p style="color: green"><%= notice %></p>
<button class="btn btn-primary">
<%= link_to "Create New food", new_food_path, style: 'color:white' %>
</button>
<h1>Foods</h1>
<div id="foods">
  <table class="table">     
    <thead class="table-container">
      <th scope="col">Foods</th>
      <th scope="col">Measurement unit</th>
      <th scope="col">Unit price</th>
      <th scope="col">Action</th>
      </tr>
    </thead>
    <tbody>
      <% if !@foods.empty? %>
        <% @foods.each do |food| %>
            <%= render 'show', food: food %>
        <% end %>
      <% else %>
        <tr>
          <td colspan="4">No items yet.</td>
        </tr>
      <% end %>
    </tbody>
  </table>
</div>

